

.page-header {
	margin: 20px 0;
}

.page-header *{
	display: inline-block;
}

.name {
	margin-top: 0;
}

.page-header input{
	float: right;
	margin: 18px 25px 0 0;
	background: none;
	border: none;
}